.header {
  font-size: 5vw;
  color: SeaGreen;
  text-align: center;
  
}
 /* The navbar container */
  .topnav {
    background-color: white;
    border-radius: 20px;
    justify-content: center;
    
    border-color: red;
  }        

  .piano{
    border-color: white;
  }
* {
    font-family: Helvetica, Arial, sans-serif;
  }
   
  p, 
  li {
    font-size: 14px;
    flex-direction: column;
  }
   
  a:hover {
    text-decoration: none;
    color: black;
  }
  

  img {
      max-width: 300x;
      max-height: 300px;
      margin: auto;
      border-style: solid;
      border-width: thick;
      border-radius: 20px;
      justify-content: center;
    
  }

  

  body {
      background-color: orange;
      flex-wrap: wrap;
  }



